---
name: PR verification and build
on:
  push:
    branches: [main]
    paths:
      - "spectral/**"
  pull_request:
    branches: [ main ]
    paths:
      - "spectral/**"

jobs:
  rules-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: 24
    - working-directory: ./spectral
      run: yarn 
    - working-directory: ./spectral
      run: yarn build
    - working-directory: ./spectral
      run: yarn lint
    - working-directory: ./spectral
      run: yarn cli-integration-tests
   
    
  
