name: npm-publish
on:
  push:
    tags:
      - "*"
jobs:
  npm-publish:
    name: npm-publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Use Node.js 16.3.0
        uses: actions/setup-node@v4
        with:
          node-version: 16.20.2
          registry-url: "https://registry.npmjs.org"
      - run: yarn install
        working-directory: ./spectral
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@797d68864753cbceedc271349d402da4590e6302 # v4
      - name: Validate Tag
        working-directory: ./spectral
        run: yarn semver $GITHUB_REF_SLUG
      - name: Update versions of packages
        working-directory: ./spectral
        run: yarn setupRelease $GITHUB_REF_SLUG
      - run: yarn build
        working-directory: ./spectral
      - name: Publish packages
        working-directory: ./spectral/dist
        run: npm publish --verbose
        env:
          NODE_AUTH_TOKEN: ${{ secrets.RHOAS_NPM_TOKEN }} #
